asgiref==3.8.1
#backports.zoneinfo==0.2.1
charset-normalizer==3.4.2
django==4.2.23
django-cors-headers==4.4.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
numpy==1.24.4
pandas==2.0.3
pillow==10.4.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
reportlab==3.6.12
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2
pdfkit==1.0.0


